<div class="row">
    <div class="col-md-12" style="color:#1b809e">
        <center>
            <h3>Nova Transportadora</h3>
        </center>
    </div>
</div>
<div class="container">
    <div class="row hbrBlueDegrade"  ng-dblclick="form1 = !form1">
        <label style="margin: 6px 12px;">Dados da Transportadora</label>
        <div class="pull-right btn" ng-click="form1 = !form1">
            <span ng-show="form1" class="glyphicon glyphicon-minus hbrBorder pull-right"></span>
            <span ng-show="!form1" class="glyphicon glyphicon-plus hbrBorder pull-right"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-horizontal hbrFormInput" ng-show="form1" ng-init="form1=true">
            <div class="form-group">
                <div class="col-md-6">
                    <hbr-Input-Search-Value ng-model='carrier.name' is-editable="true"
                                            maintitle="Nome da transportadora" sub-title="Nome da transportadora"> </hbr-Input-Search-Value>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row hbrBlueDegrade"  ng-dblclick="form3 = !form3">
        <label style="margin: 6px 12px;">Endereço da Transportadora</label>
        <div class="pull-right btn" ng-click="form3 = !form3">
            <span ng-show="form3" class="glyphicon glyphicon-minus hbrBorder pull-right"></span>
            <span ng-show="!form3" class="glyphicon glyphicon-plus hbrBorder pull-right"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-horizontal hbrFormInput" ng-show="form3" ng-init="form3=true">
            <div class="form-group">
                <div class="col-md-3">
                    <hbr-Input-Search-Value enable-search='!isDisabledSearchCep' ng-model='carrier.address.cep' is-editable="true"
                                            callback="populateAddressUsingCep" maintitle="CEP" sub-title="CEP"> </hbr-Input-Search-Value>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <hbr-Input-Search-Value ng-model='carrier.address.street' is-editable="true"
                                            maintitle="Logradouro" sub-title="Logradouro"></hbr-Input-Search-Value>
                </div>
                <div class="col-md-2">
                    <hbr-Input-Search-Value ng-model='carrier.address.number' is-editable="true"
                                            maintitle="Nº" sub-title="Número"></hbr-Input-Search-Value>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <hbr-Input-Search-Value ng-model='carrier.address.complement' is-editable="true"
                                            maintitle="Complemento" sub-title="Complemento"></hbr-Input-Search-Value>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <hbr-Input-Search-Value ng-model='carrier.address.neighborhood' is-editable="true"
                                            maintitle="Bairro" sub-title="Bairro"></hbr-Input-Search-Value>
                </div>
                <div class="col-md-5">
                    <hbr-Input-Search-Value ng-model='carrier.address.city' is-editable="true"
                                            maintitle="Cidade" sub-title="Cidade"></hbr-Input-Search-Value>
                </div>
                <div class="col-md-2">
                    <hbr-Input-Search-Value ng-model='carrier.address.state' is-editable="true"
                                            maintitle="Estado" sub-title="Estado"></hbr-Input-Search-Value>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" ng-repeat="contact in carrier.contacts">
    <div class="row hbrBlueDegrade"  ng-dblclick="form2 = !form2">
        <label style="margin: 6px 12px;">Informação de Contato</label>
        <div class="pull-right btn" ng-click="form2 = !form2">
            <span ng-show="form2" class="glyphicon glyphicon-minus hbrBorder pull-right"></span>
            <span ng-show="!form2" class="glyphicon glyphicon-plus hbrBorder pull-right"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-horizontal hbrFormInput" ng-show="form2" ng-init="form2=true">
            <div class="form-group">
                <div class="col-md-8">
                    <hbr-Input-Search-Value ng-model='contact.name' is-editable="true"
                                            maintitle="Nome" sub-title="Nome"></hbr-Input-Search-Value>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    <hbr-Input-Search-Value ng-model='contact.phone' is-editable="true"
                                            maintitle="Telefone" sub-title="Telefone"></hbr-Input-Search-Value>
                </div>
                <div class="col-md-4">
                    <hbr-Input-Search-Value ng-model='contact.phone2' is-editable="true"
                                            maintitle="Telefone" sub-title="Telefone"></hbr-Input-Search-Value>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    <hbr-Input-Search-Value ng-model='contact.email' is-editable="true"
                                            maintitle="E-mail" sub-title="endereco@email.com"></hbr-Input-Search-Value>
                </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!carrier.contact.observation"><b>Observação</b></span></span>
                        <textarea class="form-control" maxlength="3999" ng-model="contact.observation" rows="4" placeholder="Observação (4000 caracter)" ></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 pull-right">
                    <button type="submit" class="btn btn-danger btn-sm" ng-click="removeContactInCarrier($index)">Remover</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" style="padding: 8px 8px 8px;">
    <center>
        <button class="btn btn-info btn-lg" ng-click="createContactInCarrier()">
            <span class="glyphicon glyphicon-user"></span> Adicionar Contato
        </button>
    </center>
</div>

