<div class="row">
    <div class="col-md-12" style="color:#1b809e">
        <center>
            <h3>Transportadoras</h3>
        </center>
    </div>
</div>
<hbr-Input-Search-Value ng-model="testModel" enable-search='true' value='testModel' title="CEP" sub-title="CEP"> </hbr-Input-Search-Value>
test = {{testModel}} {{$id}}
<div class="row" style="padding-bottom:10px">
    <form ng-class="{'form-horizontal':hasErrorInput}" >
        <div class="form-group" ng-class="{'has-error':hasErrorInput, 'has-feedback':hasErrorInput}">
            <div class="col-md-6" >
                <div class="input-group">
                    <span class="input-group-addon hbrInputsBlue"><span ng-show="!!objectFind.name"><b>Nome da transportadora</b></span></span>
                    <input type="text" hbr-uppercase class="form-control hbrBorderRadiusRight" maxlength="200" ng-model="objectFind.name" placeholder="Nome da transportadora" >
                    <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="hasErrorInput"></span>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" ng-table="tableParams" class="table" show-filter="true">
        <tr ng-repeat="carrier in $data">
            <td class="text-center hbrAjustarTextoVertical" title="'EXPANDIR'">
                <button class="btn btn-info" ng-click="editCarrier(carrier)">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </td>

            <td class="text-center hbrAjustarTextoVertical" title="'NOME'" filter="{ name: 'text'}" sortable="'name'">
                {{carrier.name}}
            </td>

            <td class="text-center hbrAjustarTextoVertical" title="'ESTADO'" >
                {{carrier.address.state}}
            </td>

            <td class="text-center hbrAjustarTextoVertical" title="'CEP'" >
                {{carrier.address.cep | hbrCEPFilter}}
            </td>
        </tr>
    </table>
</div>
