<div ng-init="start()">
    <div class="row">
        <div class="col-md-12" style="color:#1b809e">
            <center>
                <h3>Editar Transportadora</h3>
            </center>
        </div>
    </div>

    <div class="container">
        <div class="row hbrBlueDegrade" ng-dblclick="form1 = !form1">
            <label style="margin: 6px 12px;">Dados da Transportadora</label>
            <div class="pull-right btn" ng-click="form1 = !form1">
                <span ng-show="form1" class="glyphicon glyphicon-minus hbrBorder pull-right"></span>
                <span ng-show="!form1" class="glyphicon glyphicon-plus hbrBorder pull-right"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-horizontal hbrFormInput" ng-show="form1" ng-init="form1=true">
                <div class="form-group">
                    <div class="col-md-6">
                        <hbr-Input-Search-Value value='carrier.name' is-editable="!edit.isDisabledWaitingEdit"
                                                maintitle="Nome" sub-title="Nome"></hbr-Input-Search-Value>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row hbrBlueDegrade"  ng-dblclick="form3 = !form3">
            <label style="margin: 6px 12px;">Endereço da Transportadora</label>
            <div class="pull-right btn" ng-click="form3 = !form3">
                <span ng-show="form3" class="glyphicon glyphicon-minus hbrBorder pull-right"></span>
                <span ng-show="!form3" class="glyphicon glyphicon-plus hbrBorder pull-right"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-horizontal hbrFormInput" ng-show="form3" ng-init="form3=true">
                <div class="form-group">
                    <div class="col-md-3">
                        <hbr-Input-Search-Value enable-search='!isDisabledSearchCep' value='carrier.address.cep' is-editable="!edit.isDisabledWaitingEdit"
                                                callback="populateAddressUsingCep" maintitle="CEP" sub-title="CEP"> </hbr-Input-Search-Value>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-5">
                        <hbr-Input-Search-Value value='carrier.address.street' is-editable="!edit.isDisabledWaitingEdit"
                                                maintitle="Logradouro" sub-title="Logradouro"></hbr-Input-Search-Value>
                    </div>
                    <div class="col-md-2">
                        <hbr-Input-Search-Value value='carrier.address.number' is-editable="!edit.isDisabledWaitingEdit"
                                                maintitle="Nº" sub-title="Número"></hbr-Input-Search-Value>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <hbr-Input-Search-Value value='carrier.address.complement' is-editable="!edit.isDisabledWaitingEdit"
                                                maintitle="Complemento" sub-title="Complemento"></hbr-Input-Search-Value>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-5">
                        <hbr-Input-Search-Value value='carrier.address.neighborhood' is-editable="!edit.isDisabledWaitingEdit"
                                                maintitle="Bairro" sub-title="Bairro"></hbr-Input-Search-Value>
                    </div>
                    <div class="col-md-5">
                        <hbr-Input-Search-Value value='carrier.address.city' is-editable="!edit.isDisabledWaitingEdit"
                                                maintitle="Cidade" sub-title="Cidade"></hbr-Input-Search-Value>
                    </div>
                    <div class="col-md-2">
                        <hbr-Input-Search-Value value='carrier.address.state' is-editable="!edit.isDisabledWaitingEdit"
                                                maintitle="Estado" sub-title="Estado"></hbr-Input-Search-Value>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" ng-repeat="contact in carrier.contacts">
        <div class="row hbrBlueDegrade"  ng-dblclick="form2 = !form2">
            <label style="margin: 6px 12px;">Informação de Contato</label>
            <div class="pull-right btn" ng-click="form2 = !form2">
                <span ng-show="form2" class="glyphicon glyphicon-minus hbrBorder pull-right"></span>
                <span ng-show="!form2" class="glyphicon glyphicon-plus hbrBorder pull-right"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-horizontal hbrFormInput" ng-show="form2" ng-init="form2=true">
                <div class="form-group">
                    <div class="col-md-8">
                        <hbr-Input-Search-Value value='contact.name' is-editable="!edit.isDisabledWaitingEdit"
                                                maintitle="Nome" sub-title="Nome"></hbr-Input-Search-Value>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4">
                        <hbr-Input-Search-Value value='contact.phone' is-editable="!edit.isDisabledWaitingEdit"
                                                maintitle="Telefone" sub-title="Telefone"></hbr-Input-Search-Value>
                    </div>
                    <div class="col-md-4">
                        <hbr-Input-Search-Value value='contact.phone2' is-editable="!edit.isDisabledWaitingEdit"
                                                maintitle="Telefone" sub-title="Telefone"></hbr-Input-Search-Value>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4">
                        <hbr-Input-Search-Value value='contact.email' is-editable="!edit.isDisabledWaitingEdit"
                                                maintitle="E-mail" sub-title="endereco@email.com"></hbr-Input-Search-Value>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6">
                        <hbr-Input-Search-Value type='text' value='contact.email' is-editable="!edit.isDisabledWaitingEdit"
                                                maintitle="E-mail" sub-title="endereco@email.com"></hbr-Input-Search-Value>
                        <div class="input-group">
                            <span class="input-group-addon hbrInputsBlue"><span ng-show="!!carrier.contact.observation"><b>Observação</b></span></span>
                            <textarea class="form-control" maxlength="3999" ng-disabled="edit.isDisabledWaitingEdit" ng-model="contact.observation" rows="4" placeholder="Observação (4000 caracter)" ></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 pull-right">
                        <button class="btn btn-danger btn-sm" ng-disabled="edit.isDisabledWaitingEdit" ng-click="removeContactInCarrier($index)">Remover</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" ng-show="!edit.isDisabledWaitingEdit" style="padding: 8px 8px 8px;">
        <center>
            <button class="btn btn-info btn-lg" ng-click="createContactInCarrier()">
                <span class="glyphicon glyphicon-user"></span> Adicionar Contato
            </button>
        </center>
    </div>


</div>
