<div class="row">
    <center><h1>Editar Cliente</h1></center>
</div>

<div class="container">
    <div class="row hbrBlueDegrade" ng-dblclick="form1 = !form1">
        <label style="margin: 6px 12px;">Dados Pessoais do Cliente</label>
        <div class="pull-right btn" ng-click="form1 = !form1">
            <span ng-show="form1" class="glyphicon glyphicon-minus hbrBorder pull-right"></span>
            <span ng-show="!form1" class="glyphicon glyphicon-plus hbrBorder pull-right"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-horizontal hbrFormInput" ng-show="form1" ng-init="form1=true">
            <div class="form-group">
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!customer.legalName"><b>Nome Legal / Razão Social</b></span></span>
                        <input type="text" class="form-control" hbr-uppercase ng-disabled="edit.isDisabledWaitingEdit" ng-model="customer.legalName" placeholder="Nome Legal / Razão Social" >
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!customer.fantasyName"><b>Nome Fantasia</b></span></span>
                        <input type="text" class="form-control" hbr-uppercase ng-disabled="edit.isDisabledWaitingEdit" ng-model="customer.fantasyName" placeholder="Nome Fantasia" >
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!customer.documentNumber"><b>CPF/CNPJ</b></span></span>
                        <input type="text" cpf-cnpj-format maxlength="18" class="form-control" ng-disabled="edit.isDisabledWaitingEdit" ng-model="customer.documentNumber" placeholder="CPF/CNPJ" >
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!customer.stateRegistration"><b>Inscrição Estadual</b></span></span>
                        <input type="text" class="form-control" hbr-uppercase ng-disabled="edit.isDisabledWaitingEdit" ng-model="customer.stateRegistration" placeholder="Inscrição Estadual" >
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!customer.cityRegistration"><b>Inscrição Municial</b></span></span>
                        <input type="text" class="form-control" hbr-uppercase ng-disabled="edit.isDisabledWaitingEdit" ng-model="customer.cityRegistration" placeholder="Inscrição Municipal" >
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span><b>Data de Fundação</b></span></span>
                        <input type="date" class="form-control" ng-disabled="edit.isDisabledWaitingEdit" ng-model="foundationDateFormated"  >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row hbrBlueDegrade"  ng-dblclick="form3 = !form3">
        <label style="margin: 6px 12px;">Endereço do Cliente</label>
        <div class="pull-right btn" ng-click="form3 = !form3">
            <span ng-show="form3" class="glyphicon glyphicon-minus hbrBorder pull-right"></span>
            <span ng-show="!form3" class="glyphicon glyphicon-plus hbrBorder pull-right"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-horizontal hbrFormInput" ng-show="form3" ng-init="form3=true">
            <div class="form-group">
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!customer.address.cep"><b>CEP</b></span></span>
                        <input type="text" class="form-control" hbr-uppercase ng-disabled="edit.isDisabledWaitingEdit" ng-model="customer.address.cep" placeholder="CEP" >
                        <span class="btn input-group-addon hbrInputsBlue" ng-show="!isDisabledSearchCep && !edit.isDisabledWaitingEdit" ng-click="populateAddressUsingCep(customer.address.cep)">
                            <span class="glyphicon glyphicon-search"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!customer.address.street"><b>Logradouro</b></span></span>
                        <input type="text" class="form-control" hbr-uppercase ng-disabled="edit.isDisabledWaitingEdit" ng-model="customer.address.street" placeholder="logradouro" >
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!customer.address.number"><b>Nº</b></span></span>
                        <input type="text" class="form-control" hbr-uppercase ng-disabled="edit.isDisabledWaitingEdit" ng-model="customer.address.number" placeholder="Número" >
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!customer.address.complement"><b>Complemento</b></span></span>
                        <input type="text" class="form-control" hbr-uppercase ng-disabled="edit.isDisabledWaitingEdit" ng-model="customer.address.complement" placeholder="Complemento" >
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!customer.address.neighborhood"><b>Bairro</b></span></span>
                        <input type="text" class="form-control" hbr-uppercase ng-disabled="edit.isDisabledWaitingEdit" ng-model="customer.address.neighborhood" placeholder="Bairro" >
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!customer.address.city"><b>Cidade</b></span></span>
                        <input type="text" class="form-control" hbr-uppercase ng-disabled="edit.isDisabledWaitingEdit" ng-model="customer.address.city" placeholder="Cidade" >
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!customer.address.state"><b>Estado</b></span></span>
                        <input type="text" class="form-control" hbr-uppercase ng-disabled="edit.isDisabledWaitingEdit" ng-model="customer.address.state" placeholder="Estado" >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" ng-repeat="contact in customer.contacts">
    <div class="row hbrBlueDegrade"  ng-dblclick="form2 = !form2">
        <label style="margin: 6px 12px;">Informação de Contato</label>
        <div class="pull-right btn" ng-click="form2 = !form2">
            <span ng-show="form2" class="glyphicon glyphicon-minus hbrBorder pull-right"></span>
            <span ng-show="!form2" class="glyphicon glyphicon-plus hbrBorder pull-right"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-horizontal hbrFormInput" ng-show="form2" ng-init="form2=true">
            <div class="form-group">
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!contact.name"><b>Nome</b></span></span>
                        <input type="text" class="form-control" hbr-uppercase ng-disabled="edit.isDisabledWaitingEdit" ng-model="contact.name" placeholder="Nome" >
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!contact.phone"><b>Telefone</b></span></span>
                        <input type="text" class="form-control" hbr-uppercase ng-disabled="edit.isDisabledWaitingEdit" ng-model="contact.phone" placeholder="Telefone" >
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!contact.phone2"><b>Telefone</b></span></span>
                        <input type="text" class="form-control" hbr-uppercase ng-disabled="edit.isDisabledWaitingEdit" ng-model="contact.phone2" placeholder="Telefone" >
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!contact.email"><b>E-mail</b></span></span>
                        <input type="text" class="form-control" ng-disabled="edit.isDisabledWaitingEdit" ng-model="contact.email" placeholder="endereco@email.com" >
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!customer.contact.observation"><b>Observação</b></span></span>
                        <textarea class="form-control" maxlength="3999" ng-disabled="edit.isDisabledWaitingEdit" ng-model="contact.observation" rows="4" placeholder="Observação (4000 caracter)" ></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 pull-right">
                    <button class="btn btn-danger btn-sm" ng-disabled="edit.isDisabledWaitingEdit" ng-click="removeContactInCustomer($index)">Remover</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" ng-show="!edit.isDisabledWaitingEdit" style="padding: 8px 8px 8px;">
    <center>
        <button class="btn btn-info btn-lg" ng-click="createContactInCustomer()">
            <span class="glyphicon glyphicon-user"></span> Adicionar Contato
        </button>
    </center>
</div>

