<div class="row">
    <center><h3>Criar novo Cliente</h3></center>
</div>
<div class="row" style="padding-bottom:10px">
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon"></span>
                    <input type="text" class="form-control" ng-model="customer.fantasyName" placeholder="Nome Fantasia" >
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-9">
                <div class="input-group">
                    <span class="input-group-addon"></span>
                    <input type="text" class="form-control" ng-model="customer.legalName" placeholder="Nome Legal" >
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                <div class="input-group">
                    <span class="input-group-addon"></span>
                    <input type="text" class="form-control" ng-model="customer.documentNumber" placeholder="Número do Documento" >
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon"></span>
                    <input type="text" class="form-control" ng-model="customer.stateRegistration" placeholder="Registro Estadual" >
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    <input type="date" class="form-control" ng-model="customer.foundationDate"  >
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <div class="input-group">
                    <span class="input-group-addon"></span>
                    <input type="text" class="form-control" ng-model="customer.email" placeholder="E-mail" >
                </div>
            </div>
        </div>
    </form>
</div>


