<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRM</title>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-route.js"></script>
    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/angular-resource.min.js"></script>
    <script src="js/lib/ng-table.min.js"></script>
    <script src="js/lib/bootbox.min.js"></script>
    <script src="js/app/app.js"></script>
    <script src="js/app/directives.js"></script>
    <script src="js/app/controllers/menuCtrl.js"></script>
    <script src="js/app/controllers/mainCtrl.js"></script>
    <script src="js/app/controllers/customerCtrl.js"></script>
    <script src="js/app/controllers/customerSaveCtrl.js"></script>
    <script src="js/app/controllers/customerEditCtrl.js"></script>
    <script src="js/app/controllers/providerCtrl.js"></script>
    <script src="js/app/controllers/providerSaveCtrl.js"></script>
    <script src="js/app/controllers/providerEditCtrl.js"></script>
    <script src="js/app/controllers/productCtrl.js"></script>
    <script src="js/app/controllers/productSaveCtrl.js"></script>
    <script src="js/app/controllers/productEditCtrl.js"></script>
    <script src="js/app/controllers/registerCtrl.js"></script>
    <script src="js/app/services/customerService.js"></script>
    <script src="js/app/services/providerService.js"></script>
    <script src="js/app/services/productService.js"></script>
    <script src="js/app/services/externalUrlService.js"></script>
    <script src="js/app/services/measurementService.js"></script>
    <script src="js/app/services/buttonGeneratorService.js"></script>
    <script src="js/app/services/breadCrumbGeneratorService.js"></script>
    <script src="js/app/services/messageGeneratorService.js"></script>
    <link rel="stylesheet" href="css/lib/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/lib/ng-table.min.css"/>
    <script src="js/lib/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/app/app.css"/>
    <link rel="stylesheet" href="css/app/breadcrumb.css"/>
</head>
<body ng-app="app" ng-controller="MainCtrl" ng-cloak>

    <div ng-controller="MenuCtrl">
        <nav class="navbar navbar-default navbar-static-top hbrNavBackgroup" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#mainMenu" aria-expanded="true">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">
                    <span class="glyphicon glyphicon-header" style="font-size: 30px; color:black;"></span>
                    <label style="color:black;">BR</label>
                </span >
            </div>
            <div class="collapse navbar-collapse" id="mainMenu">
                <ul class="nav nav-tabs">
                    <li ng-repeat="menu in menus" ng-click="currentMenu(menu)" ng-class="{active:menu.displayValue == global.menuName}">
                        <a class="hbrTextStyleMenuNav" href="{{menu.url}}">
                            <center><span style="font-size: 30px;" ng-class="menu.icon"></span></center>
                            <center><label style="font-size: 15px;"><u>{{menu.name}}</u></label></center>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="clearfix container" ng-clock>
            <div class="row">
                <ul id="breadcrumb">
                    <li ng-repeat="breadCrumb in breadCrumbs" ng-class="{activeBreadCrumb:breadCrumb.active}" >
                        <a ng-class="{activeBreadCrumb:breadCrumb.active}" ng-click="callBreadCrumb(breadCrumb)">
                            {{breadCrumb.title}}
                        </a>
                    </li>
                </ul>

                <div class="pull-right">
                    <div class="btn-group btn-group-lg hbrButtonMenu" ng-repeat="button in menuButtons"
                         ng-show="menuButtons.length > 0" role="group">
                        <button type="button hbrPositionButtonMenu" class="btn btn-{{button.type}}" ng-disabled="button.isDisabled" ng-click="button.execute()">
                            {{button.title}}
                        </button>
                    </div>
                </div>
            </div>
            <div class="row" >
                <div class="alert alert-{{message.type}} alert-dismissible hbrSizeAlert" ng-repeat="message in menuMessages" role="alert">
                    <strong>{{message.title}}</strong> {{message.text}}
                    <span class="glyphicon glyphicon-remove close" ng-click="removeMessage($index)" data-dismiss="alert"></span>
                </div>
            </div>
        </div>

        <div class="container" ng-cloak>
            <div ng-view />
        </div>

    </div>
</body>
</html>