<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRM</title>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-route.js"></script>
    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/angular-resource.min.js"></script>
    <script src="js/app/app.js"></script>
    <script src="js/app/directives.js"></script>
    <script src="js/app/controllers/menuCtrl.js"></script>
    <script src="js/app/controllers/mainCtrl.js"></script>
    <script src="js/app/controllers/customerCtrl.js"></script>
    <script src="js/app/controllers/customerSaveCtrl.js"></script>
    <script src="js/app/services/customerService.js"></script>
    <script src="js/app/services/buttonGeneratorService.js"></script>
    <link rel="stylesheet" href="css/lib/bootstrap.min.css"/>
    <script src="js/lib/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/app/app.css"/>
</head>
<body ng-app="app" ng-controller="MainCtrl" ng-cloak>

    <div ng-controller="MenuCtrl">
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#mainMenu" aria-expanded="true">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ng-click="currentMenu(null)" href="#/">Logo</a>
            </div>
            <div class="collapse navbar-collapse" id="mainMenu">
                <ul class="nav nav-tabs">
                    <li ng-repeat="menu in menus" ng-click="currentMenu(menu)" ng-class="{active:menu.enable}">
                        <a href="{{menu.url}}">{{menu.name}}</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="clearfix container" style="margin-bottom: 25px;" ng-clock>
            <div class="row">
                <div class="btn-group btn-group-lg buttonMenu" ng-repeat="button in menuButtons"
                     ng-show="menuButtons.length > 0" role="group">
                    <button type="button positionButtonMenu" class="btn btn-{{button.type}}" ng-disabled="button.isDisabled" ng-click="button.execute()">
                        {{button.title}}
                    </button>
                </div>
            </div>

            <div class="alert alert-{{message.type}}" ng-repeat="message in menuMessages" role="alert"
                 ng-click="removeMessage($index)">
                {{message.title}}
            </div>
        </div>

        <div class="container" style="overflow: hidden;" ng-cloak>
            <div ng-view />
        </div>

    </div>
</body>
</html>