<div class="row">
    <div class="col-md-12" style="color:#1b809e">
        <center>
            <h3>Produtos</h3>
        </center>
    </div>
</div>

<div class="row" style="padding-bottom:10px">
    <form ng-class="{'form-horizontal':hasErrorInput}" >
        <div class="form-group" ng-class="{'has-error':hasErrorInput, 'has-feedback':hasErrorInput}">
            <div class="col-md-6" >
                <hbr-Input-Search-Value ng-model='objectFind.description' is-editable="true"
                                        maintitle="Descrição" maxlength="200" sub-title="Descrição"> </hbr-Input-Search-Value>
            </div>
            <div class="col-md-6" >
                <hbr-Input-Search-Value ng-model='objectFind.code' is-editable="true"
                                        maintitle="Código" maxlength="100" sub-title="Código"> </hbr-Input-Search-Value>
            </div>
        </div>
    </form>
</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" ng-table="tableParams" class="table" show-filter="true">
        <tr ng-repeat="product in $data">
            <td class="text-center hbrAjustarTextoVertical" title="'EXPANDIR'">
                <button class="btn btn-info" ng-click="editProduct(product)">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </td>

            <td class="text-center hbrAjustarTextoVertical" title="'CÓDIGO'" filter="{ code: 'text'}" sortable="'code'">
                {{product.code}}
            </td>

            <td class="text-center hbrAjustarTextoVertical" title="'DESCRIÇÃO'" filter="{ description: 'text'}" sortable="'description'">
                {{product.description}}
            </td>

            <td class="text-center hbrAjustarTextoVertical" title="'CRIADO POR'" filter="{ createdBy: 'text'}" sortable="'createdBy'">
                {{product.createdBy}}
            </td>

            <td class="text-center hbrAjustarTextoVertical" title="'CRIADO EM'" filter="{ createdAt: 'text'}" sortable="'createdAt'">
                {{product.createdAt | date}}
            </td>
        </tr>
    </table>
</div>
