<div class="row">
    <div class="col-md-12" style="color:#1b809e">
        <center>
            <h3>Editar Produto</h3>
        </center>
    </div>
</div>

<div class="container" ng-clock>
    <div class="row hbrBlueDegrade"  ng-dblclick="form1 = !form1">
        <label style="margin: 6px 12px;">Dados do Produto</label>
        <div class="pull-right btn" ng-click="form1 = !form1">
            <span ng-show="form1" class="glyphicon glyphicon-minus hbrBorder pull-right"></span>
            <span ng-show="!form1" class="glyphicon glyphicon-plus hbrBorder pull-right"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-horizontal hbrFormInput" ng-show="form1" ng-init="form1=true">
            <div class="form-group">
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!product.code"><b>Código</b></span></span>
                        <input type="text" class="form-control" ng-disabled="edit.isDisabledWaitingEdit" hbr-uppercase ng-model="product.code" placeholder="Código" >
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!product.description"><b>Descrição</b></span></span>
                        <input type="text" class="form-control" ng-disabled="edit.isDisabledWaitingEdit" hbr-uppercase ng-model="product.description" placeholder="Descrição" >
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-5">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!product.measurement.type"><b>Unidade de Medição</b></span></span>
                        <select class="form-control" ng-disabled="edit.isDisabledWaitingEdit" size="1" ng-model="product.measurement"
                                ng-options="measurement.type for measurement in measurementOptions"></select>
                    </div>
                </div>
                <div class="col-md-5" ng-show="product.measurement.type == 'NOVA UNIDADE DE MEDIÇÃO'">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!newMeasurementType"><b>NOVA UNIDADE DE MEDIÇÃO</b></span></span>
                        <input type="text" hbr-uppercase ng-disabled="edit.isDisabledWaitingEdit" class="form-control" maxlength="29" ng-model="newMeasurement.type" placeholder="NOVA UNIDADE DE MEDIÇÃO" >
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!product.value"><b>Valor - R$</b></span></span>
                        <input type="text" class="form-control" ng-disabled="edit.isDisabledWaitingEdit" maxlength="15" ng-model="product.value" placeholder="Valor - R$ 000000.00" >
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-5">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!objectFind.providerDocumentNumber"><b>CPF/CNPJ do Fornecedor</b></span></span>
                        <input ng-disabled="edit.isDisabledWaitingEdit"
                               cpf-cnpj-format type="text" class="form-control" ng-model="objectFind.providerDocumentNumber" maxlength="18" placeholder="CPF/CNPJ do Fornecedor" >
                        <span class="btn input-group-addon hbrInputsBlue" ng-show="!isDisabledSearchProvider && !edit.isDisabledWaitingEdit" ng-click="getProviderUsingDocument()">
                                <span class="glyphicon glyphicon-search"></span>
                            </span>
                    </div>
                </div>

                <div class="col-md-7">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!objectFind.providerLegalName"><b>Razão Social</b></span></span>
                        <input ng-disabled="edit.isDisabledWaitingEdit"
                               type="text" class="form-control" hbr-uppercase ng-model="objectFind.providerLegalName" maxlength="18" placeholder="Razão social do Fornecedor" >
                        <span class="btn input-group-addon hbrInputsBlue" ng-show="!isDisabledSearchProvider && !edit.isDisabledWaitingEdit" ng-click="getProviderUsingLegalName()">
                            <span class="glyphicon glyphicon-search"></span>
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="findProviderModal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Selecione o Fornecedor</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" ng-table="providerFindTable" class="table" show-filter="true">
                            <tr ng-repeat="providerTable in $data">

                                <td class="text-center hbrAjustarTextoVertical" title="'SELECIONAR'">
                                    <button class="btn btn-primary" data-dismiss="modal" ng-disabled="edit.isDisabledWaitingEdit"
                                            ng-click="selectProvider(providerTable)">
                                        <span class="glyphicon glyphicon-check"></span>
                                    </button>
                                </td>

                                <td class="text-center hbrAjustarTextoVertical" title="'DOCUMENTO'" filter="{ documentNumber: 'text'}" sortable="'documentNumber'">
                                    {{providerTable.documentNumber}}
                                </td>

                                <td class="text-center hbrAjustarTextoVertical" title="'RASÃO SOCIAL'" filter="{ legalName: 'text'}" sortable="'legalName'">
                                    {{providerTable.legalName}}
                                </td>

                                <td class="text-center hbrAjustarTextoVertical" title="'NOME FANTASIA'" filter="{ fantasyName: 'text'}" sortable="'fantasyName'">
                                    {{providerTable.fantasyName}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Fechar</button>
                </div>
            </div>

        </div>
    </div>
</div>