<div class="row">
    <div class="col-md-12" style="color:#1b809e">
        <center>
            <h3>Editar Produto</h3>
        </center>
    </div>
</div>

<div class="container" ng-clock>
    <div class="row hbrBlueDegrade"  ng-dblclick="form1 = !form1">
        <label style="margin: 6px 12px;">Dados do Produto</label>
        <div class="pull-right btn" ng-click="form1 = !form1">
            <span ng-show="form1" class="glyphicon glyphicon-minus hbrBorder pull-right"></span>
            <span ng-show="!form1" class="glyphicon glyphicon-plus hbrBorder pull-right"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-horizontal hbrFormInput" ng-show="form1" ng-init="form1=true">
            <div class="form-group">
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!product.code"><b>Código</b></span></span>
                        <input type="text" class="form-control" ng-disabled="edit.isDisabledWaitingEdit" hbr-uppercase ng-model="product.code" placeholder="Código" >
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!product.description"><b>Descrição</b></span></span>
                        <input type="text" class="form-control" ng-disabled="edit.isDisabledWaitingEdit" hbr-uppercase ng-model="product.description" placeholder="Descrição" >
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-5">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!product.measurement.type"><b>Unidade de Medição</b></span></span>
                        <select class="form-control" ng-disabled="edit.isDisabledWaitingEdit" size="1" ng-model="product.measurement"
                                ng-options="measurement.type for measurement in measurementOptions"></select>
                    </div>
                </div>
                <div class="col-md-5" ng-show="product.measurement.type == 'NOVA UNIDADE DE MEDIÇÃO'">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!newMeasurementType"><b>NOVA UNIDADE DE MEDIÇÃO</b></span></span>
                        <input type="text" hbr-uppercase ng-disabled="edit.isDisabledWaitingEdit" class="form-control" maxlength="29" ng-model="newMeasurement.type" placeholder="NOVA UNIDADE DE MEDIÇÃO" >
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!product.value"><b>Valor - R$</b></span></span>
                        <input type="text" class="form-control" ng-disabled="edit.isDisabledWaitingEdit" maxlength="15" ng-model="product.value" placeholder="Valor - R$ 000000.00" >
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-5">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!objectFind.document"><b>CPF/CNPJ do Fornecedor</b></span></span>
                        <input type="text" cpfCnpjFormat class="form-control" ng-disabled="edit.isDisabledWaitingEdit" ng-model="objectFind.document" maxlength="18" placeholder="CPF/CNPJ do Fornecedor" >
                        <span class="btn input-group-addon hbrInputsBlue" ng-disabled="edit.isDisabledWaitingEdit" ng-show="!isDisabledSearchDocument" ng-click="getProviderUsingDocument(objectFind.document)">
                            <span class="glyphicon glyphicon-search"></span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group" ng-show="product.provider">
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!product.provider.legalName"><b>Nome Legal / Razão Social</b></span></span>
                        <input type="text" class="form-control"  ng-disabled="true" hbr-uppercase ng-model="product.provider.legalName" placeholder="Nome Legal / Razão Social" >
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!product.provider.fantasyName"><b>Nome Fantasia</b></span></span>
                        <input type="text" class="form-control" ng-disabled="true" hbr-uppercase ng-model="product.provider.fantasyName" placeholder="Nome Fantasia" >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>