<div class="row">
    <div class="col-md-12" style="color:#1b809e">
        <center>
            <h3>Fornecedores</h3>
        </center>
    </div>
</div>

<div class="row" style="padding-bottom:10px">
    <form ng-class="{'form-horizontal':hasErrorInput}" >
        <div class="form-group" ng-class="{'has-error':hasErrorInput, 'has-feedback':hasErrorInput}">
            <div class="col-md-6" >
                <hbr-Input-Search-Value hbr-uppercase ng-model='objectFind.fantasyName' is-editable="true" maxlength="200"
                                        maintitle="Nome Fantasia" sub-title="Nome Fantasia"> </hbr-Input-Search-Value>
            </div>
            <div class="col-md-6" >
                <hbr-Input-Search-Value hbr-uppercase ng-model='objectFind.legalName' is-editable="true" maxlength="200"
                                        maintitle="Nome Legal / Razão Social" sub-title="Nome Legal / Razão Social"> </hbr-Input-Search-Value>
            </div>

            <div class="col-md-4" >
                <hbr-Input-Search-Value cpf-Cnpj-Format ng-model='objectFind.document' is-editable="true"
                                        maintitle="CPF/CNPJ" maxlength="18" sub-title="CPF/CNPJ"> </hbr-Input-Search-Value>
            </div>
        </div>
    </form>
</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" ng-table="tableParams" class="table" show-filter="true">
        <tr ng-repeat="provider in $data">
            <td class="text-center hbrAjustarTextoVertical" title="'EXPANDIR'">
                <button class="btn btn-info" ng-click="editProvider(provider)">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </td>

            <td class="text-center hbrAjustarTextoVertical" title="'NOME FANTASIA'" filter="{ fantasyName: 'text'}" sortable="'fantasyName'">
                {{provider.fantasyName}}
            </td>

            <td class="text-center hbrAjustarTextoVertical" title="'NOME LEGAL / RAZÃO SOCIAL'" filter="{ legalName: 'text'}" sortable="'legalName'">
                {{provider.legalName}}
            </td>


            <td class="text-center hbrAjustarTextoVertical" title="'CPF/CNPJ'" filter="{ documentNumber: 'text'}" sortable="'documentNumber'">
                {{provider.documentNumber | hbrCpfCnpjFilter}}
            </td>

            <td class="text-center hbrAjustarTextoVertical" title="'ESTADO'" >
                {{provider.address.state}}
            </td>

            <td class="text-center hbrAjustarTextoVertical" title="'CEP'" >
                {{provider.address.cep | hbrCEPFilter}}
            </td>
        </tr>
    </table>
</div>
