<div class="row">
    <center><h1>Venda</h1></center>
</div>

<div class="container" ng-clock>
    <div class="row hbrBlueDegrade"  ng-dblclick="form1 = !form1">
        <label style="margin: 6px 12px;">Dados do Cliente</label>
        <div class="pull-right btn" ng-click="form1 = !form1">
            <span ng-show="form1" class="glyphicon glyphicon-minus hbrBorder pull-right"></span>
            <span ng-show="!form1" class="glyphicon glyphicon-plus hbrBorder pull-right"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-horizontal hbrFormInput" ng-show="form1" ng-init="form1=true">

            <div class="form-group">
                <div class="col-md-5">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!objectFind.customerDocumentNumber"><b>CPF/CNPJ do Cliente</b></span></span>
                        <input cpf-cnpj-format type="text" class="form-control" ng-model="objectFind.customerDocumentNumber" maxlength="18" placeholder="CPF/CNPJ do Cliente" >
                        <span class="btn input-group-addon hbrInputsBlue" ng-show="!isDisabledSearchDocument" ng-click="getCustomerUsingDocument()">
                            <span class="glyphicon glyphicon-search"></span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group" ng-show="!!customer">
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!customer.legalName"><b>Nome Legal / Razão Social</b></span></span>
                        <input type="text" class="form-control"  ng-disabled="true" hbr-uppercase ng-model="customer.legalName" placeholder="Nome Legal / Razão Social" >
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!customer.fantasyName"><b>Nome Fantasia</b></span></span>
                        <input type="text" class="form-control" ng-disabled="true" hbr-uppercase ng-model="customer.fantasyName" placeholder="Nome Fantasia" >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" ng-show="!!address">
    <div class="row hbrBlueDegrade"  ng-dblclick="form2 = !form2">
        <label style="margin: 6px 12px;">Endereço de Entrega</label>
        <div class="pull-right btn" ng-click="form2 = !form2">
            <span ng-show="form2" class="glyphicon glyphicon-minus hbrBorder pull-right"></span>
            <span ng-show="!form2" class="glyphicon glyphicon-plus hbrBorder pull-right"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-horizontal hbrFormInput" ng-show="form2" ng-init="form2=true">
            <div class="form-group">
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!address.cep"><b>CEP</b></span></span>
                        <input type="text" class="form-control" hbr-uppercase ng-model="address.cep" placeholder="CEP" >
                        <span class="btn input-group-addon hbrInputsBlue" ng-show="!isDisabledSearchCep" ng-click="populateAddressUsingCep(address.cep)">
                            <span class="glyphicon glyphicon-search"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!address.street"><b>Logradouro</b></span></span>
                        <input type="text" class="form-control" hbr-uppercase ng-model="address.street" placeholder="logradouro" >
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!address.number"><b>Nº</b></span></span>
                        <input type="text" class="form-control" hbr-uppercase ng-model="address.number" placeholder="Número" >
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!address.complement"><b>Complemento</b></span></span>
                        <input type="text" class="form-control" hbr-uppercase ng-model="address.complement" placeholder="Complemento" >
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!address.neighborhood"><b>Bairro</b></span></span>
                        <input type="text" class="form-control" hbr-uppercase ng-model="address.neighborhood" placeholder="Bairro" >
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!address.city"><b>Cidade</b></span></span>
                        <input type="text" class="form-control" hbr-uppercase ng-model="address.city" placeholder="Cidade" >
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!address.state"><b>Estado</b></span></span>
                        <input type="text" class="form-control" hbr-uppercase ng-model="address.state" placeholder="Estado" >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container" ng-show="!!contact">
    <div class="row hbrBlueDegrade"  ng-dblclick="form3 = !form3">
        <label style="margin: 6px 12px;">Contato para Venda</label>
        <div class="pull-right btn" ng-click="form3 = !form3">
            <span ng-show="form3" class="glyphicon glyphicon-minus hbrBorder pull-right"></span>
            <span ng-show="!form3" class="glyphicon glyphicon-plus hbrBorder pull-right"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-horizontal hbrFormInput" ng-show="form3" ng-init="form3=true">
            <div class="form-group">
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!contact.name"><b>Nome</b></span></span>
                        <input type="text" class="form-control" hbr-uppercase ng-model="contact.name" placeholder="Nome" >
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!contact.phone"><b>Telefone</b></span></span>
                        <input type="text" class="form-control" hbr-uppercase ng-model="contact.phone" placeholder="Telefone" >
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!contact.phone2"><b>Telefone</b></span></span>
                        <input type="text" class="form-control" hbr-uppercase ng-model="contact.phone2" placeholder="Telefone" >
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!contact.email"><b>E-mail</b></span></span>
                        <input type="text" class="form-control" ng-model="contact.email" placeholder="endereco@email.com" >
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!contact.observation"><b>Observação</b></span></span>
                        <textarea class="form-control" maxlength="3999" ng-model="contact.observation" rows="4" placeholder="Observação (4000 caracter)" ></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" ng-show="!!contact">
    <div class="row hbrBlueDegrade"  ng-dblclick="form4 = !form4">
        <label style="margin: 6px 12px;">Transportadora</label>
        <div class="pull-right btn" ng-click="form4 = !form4">
            <span ng-show="form4" class="glyphicon glyphicon-minus hbrBorder pull-right"></span>
            <span ng-show="!form4" class="glyphicon glyphicon-plus hbrBorder pull-right"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-horizontal hbrFormInput" ng-show="form4" ng-init="form4=true">
            <div class="form-group">
                <div class="col-md-4">
                    <div class="input-group">
                        <input type="radio" name="optradio" ng-model="carrier.type" value="CIF"> <b>CIF (Transporte pelo Fornecedor)</b>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <input type="radio" name="optradio" ng-model="carrier.type" value="FOB"> <b>FOB (Transporte por Empresa Terceira)</b>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-show="carrier.type == 'FOB'">
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!carrier.name"><b>Nome</b></span></span>
                        <input type="text" class="form-control" hbr-uppercase ng-model="carrier.name" placeholder="Nome" >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" ng-show="!!contact">
    <div class="row hbrBlueDegrade"  ng-dblclick="form5 = !form5">
        <label style="margin: 6px 12px;">Produtos</label>
        <div class="pull-right btn" ng-click="form5 = !form5">
            <span ng-show="form5" class="glyphicon glyphicon-minus hbrBorder pull-right"></span>
            <span ng-show="!form5" class="glyphicon glyphicon-plus hbrBorder pull-right"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-horizontal hbrFormInput" ng-show="form5" ng-init="form5=true">
            <div class="container" style="padding: 8px 8px 8px;">
                <center>
                    <button class="btn btn-default" ng-click="createNewProduct()">
                        <span class="glyphicon glyphicon-plus"></span> Adicionar Produto
                    </button>
                </center>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <h2>Modal Example</h2>
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#newProductModal">Open Modal</button>

    <!-- Modal -->
    <div class="modal fade" id="newProductModal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Adicionar um Produto</h4>
                </div>
                <div class="modal-body">
                    <div ng-repeat="p in providerProducts">
                        <p>Some text in the modal. {{p.description}}</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">Salvar</button>
                </div>
            </div>

        </div>
    </div>

</div>