<div class="row">
    <center><h1>Venda</h1></center>
</div>

<div class="container" ng-clock>
    <div class="row hbrBlueDegrade"  ng-dblclick="form1 = !form1">
        <label style="margin: 6px 12px;">Dados do Cliente</label>
        <div class="pull-right btn" ng-click="form1 = !form1">
            <span ng-show="form1" class="glyphicon glyphicon-minus hbrBorder pull-right"></span>
            <span ng-show="!form1" class="glyphicon glyphicon-plus hbrBorder pull-right"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-horizontal hbrFormInput" ng-show="form1" ng-init="form1=true">

            <div class="form-group">
                <div class="col-md-5">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!objectFind.customerDocumentNumber"><b>CPF/CNPJ</b></span></span>
                        <input cpf-cnpj-format type="text" class="form-control" ng-model="objectFind.customerDocumentNumber" maxlength="18" placeholder="CPF/CNPJ do Cliente" >
                        <span class="btn input-group-addon hbrInputsBlue" ng-show="!isDisabledSearchCustomer" ng-click="getCustomerUsingDocument()">
                            <span class="glyphicon glyphicon-search"></span>
                        </span>
                    </div>
                </div>

                <div class="col-md-7">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!objectFind.customerLegalNamer"><b>Razão Social</b></span></span>
                        <input type="text" class="form-control" hbr-uppercase ng-model="objectFind.customerLegalNamer" maxlength="18" placeholder="Razão social do Cliente" >
                        <span class="btn input-group-addon hbrInputsBlue" ng-show="!isDisabledSearchCustomer" ng-click="getCustomerUsingLegalName()">
                            <span class="glyphicon glyphicon-search"></span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group" ng-show="!!customer">
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!customer.fantasyName"><b>Nome Fantasia</b></span></span>
                        <input type="text" class="form-control" ng-disabled="true" hbr-uppercase ng-model="customer.fantasyName" placeholder="Nome Fantasia" >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" ng-show="!!address">
    <div class="row hbrBlueDegrade"  ng-dblclick="form2 = !form2">
        <label style="margin: 6px 12px;">Endereço de Entrega</label>
        <div class="pull-right btn" ng-click="form2 = !form2">
            <span ng-show="form2" class="glyphicon glyphicon-minus hbrBorder pull-right"></span>
            <span ng-show="!form2" class="glyphicon glyphicon-plus hbrBorder pull-right"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-horizontal hbrFormInput" ng-show="form2" ng-init="form2=true">
            <div class="form-group">
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!address.cep"><b>CEP</b></span></span>
                        <input type="text" class="form-control" hbr-uppercase ng-model="address.cep" placeholder="CEP" >
                        <span class="btn input-group-addon hbrInputsBlue" ng-show="!isDisabledSearchCep" ng-click="populateAddressUsingCep(address.cep)">
                            <span class="glyphicon glyphicon-search"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!address.street"><b>Logradouro</b></span></span>
                        <input type="text" class="form-control" hbr-uppercase ng-model="address.street" placeholder="logradouro" >
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!address.number"><b>Nº</b></span></span>
                        <input type="text" class="form-control" hbr-uppercase ng-model="address.number" placeholder="Número" >
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!address.complement"><b>Complemento</b></span></span>
                        <input type="text" class="form-control" hbr-uppercase ng-model="address.complement" placeholder="Complemento" >
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!address.neighborhood"><b>Bairro</b></span></span>
                        <input type="text" class="form-control" hbr-uppercase ng-model="address.neighborhood" placeholder="Bairro" >
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!address.city"><b>Cidade</b></span></span>
                        <input type="text" class="form-control" hbr-uppercase ng-model="address.city" placeholder="Cidade" >
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!address.state"><b>Estado</b></span></span>
                        <input type="text" class="form-control" hbr-uppercase ng-model="address.state" placeholder="Estado" >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container" ng-show="!!contact">
    <div class="row hbrBlueDegrade"  ng-dblclick="form3 = !form3">
        <label style="margin: 6px 12px;">Contato para Venda</label>
        <div class="pull-right btn" ng-click="form3 = !form3">
            <span ng-show="form3" class="glyphicon glyphicon-minus hbrBorder pull-right"></span>
            <span ng-show="!form3" class="glyphicon glyphicon-plus hbrBorder pull-right"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-horizontal hbrFormInput" ng-show="form3" ng-init="form3=true">
            <div class="form-group">
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!contact.name"><b>Nome</b></span></span>
                        <input type="text" class="form-control" hbr-uppercase ng-model="contact.name" placeholder="Nome" >
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!contact.phone"><b>Telefone</b></span></span>
                        <input type="text" class="form-control" hbr-uppercase ng-model="contact.phone" placeholder="Telefone" >
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!contact.phone2"><b>Telefone</b></span></span>
                        <input type="text" class="form-control" hbr-uppercase ng-model="contact.phone2" placeholder="Telefone" >
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!contact.email"><b>E-mail</b></span></span>
                        <input type="text" class="form-control" ng-model="contact.email" placeholder="endereco@email.com" >
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!contact.observation"><b>Observação</b></span></span>
                        <textarea class="form-control" maxlength="3999" ng-model="contact.observation" rows="4" placeholder="Observação (4000 caracter)" ></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" ng-show="!!contact">
    <div class="row hbrBlueDegrade"  ng-dblclick="form4 = !form4">
        <label style="margin: 6px 12px;">Transportadora</label>
        <div class="pull-right btn" ng-click="form4 = !form4">
            <span ng-show="form4" class="glyphicon glyphicon-minus hbrBorder pull-right"></span>
            <span ng-show="!form4" class="glyphicon glyphicon-plus hbrBorder pull-right"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-horizontal hbrFormInput" ng-show="form4" ng-init="form4=true">
            <div class="form-group">
                <div class="col-md-4">
                    <div class="input-group">
                        <input type="radio" name="optradio" ng-model="carrier.type" value="CIF"> <b>CIF (Transporte pelo Fornecedor)</b>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <input type="radio" name="optradio" ng-model="carrier.type" value="FOB"> <b>FOB (Transporte por Empresa Terceira)</b>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-show="carrier.type == 'FOB'">
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!carrier.name"><b>Nome</b></span></span>
                        <input type="text" class="form-control" hbr-uppercase ng-model="carrier.name" placeholder="Nome" >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" ng-show="!!customer">
    <div class="row hbrBlueDegrade"  ng-dblclick="form5 = !form5">
        <label style="margin: 6px 12px;">Produtos</label>
        <div class="pull-right btn" ng-click="form5 = !form5">
            <span ng-show="form5" class="glyphicon glyphicon-minus hbrBorder pull-right"></span>
            <span ng-show="!form5" class="glyphicon glyphicon-plus hbrBorder pull-right"></span>
        </div>
    </div>
    <div class="row" ng-show="form5" ng-init="form5=true">
        <div class="form-horizontal hbrFormInput">
            <div class="container" style="padding: 8px 8px 8px;">
                <div class="form-group">
                    <div class="col-md-5">
                        <div class="input-group">
                            <span class="input-group-addon hbrInputsBlue"><span ng-show="!!objectFind.providerDocumentNumber"><b>CPF/CNPJ do Fornecedor</b></span></span>
                            <input cpf-cnpj-format type="text" class="form-control" ng-model="objectFind.providerDocumentNumber" maxlength="18" placeholder="CPF/CNPJ do Fornecedor" >
                            <span class="btn input-group-addon hbrInputsBlue" ng-show="!isDisabledSearchprovider" ng-click="getProviderUsingDocument()">
                            <span class="glyphicon glyphicon-search"></span>
                        </span>
                        </div>
                    </div>

                    <div class="col-md-7">
                        <div class="input-group">
                            <span class="input-group-addon hbrInputsBlue"><span ng-show="!!objectFind.providerLegalName"><b>Razão Social</b></span></span>
                            <input type="text" class="form-control" hbr-uppercase ng-model="objectFind.providerLegalName" maxlength="18" placeholder="Razão social do Fornecedor" >
                            <span class="btn input-group-addon hbrInputsBlue" ng-show="!isDisabledSearchprovider" ng-click="getProviderUsingLegalName()">
                            <span class="glyphicon glyphicon-search"></span>
                        </span>
                        </div>
                    </div>
                </div>

                <div class="form-group" ng-show="!!provider">
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon hbrInputsBlue"><span ng-show="!!provider.fantasyName"><b>Nome Fantasia</b></span></span>
                            <input type="text" class="form-control" ng-disabled="true" hbr-uppercase ng-model="provider.fantasyName" placeholder="Nome Fantasia" >
                        </div>
                    </div>
                </div>

                <div class="form-group" ng-show="!!provider">
                    <div class="col-md-6">
                        <div class="input-group">
                            <button class="btn btn-primary" ng-click="startModalNewProdut()" data-toggle="modal" data-target="#newProductModal">
                                <span class="glyphicon glyphicon-plus"></span> Adicionar Produto
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" ng-table="selectedProductsTable" class="table" show-filter="true">
                <tr ng-repeat="product in $data">

                    <td class="text-center hbrAjustarTextoVertical" title="'REMOVER'">
                        <button class="btn btn-danger" ng-click="removeProduct($index)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>

                    <td class="text-center hbrAjustarTextoVertical" title="'CÓDIGO'" filter="{ code: 'text'}" sortable="'code'">
                        {{product.code}}
                    </td>

                    <td class="text-center hbrAjustarTextoVertical" title="'DESCRIÇÃO'" filter="{ description: 'text'}" sortable="'description'">
                        {{product.description}}
                    </td>

                    <td class="text-center hbrAjustarTextoVertical" title="'VALOR'" filter="{ value: 'text'}" sortable="'value'">
                        R$ {{product.value}}
                    </td>

                    <td class="text-center hbrAjustarTextoVertical" title="'QUANTIDADE'" filter="{ count: 'text'}" sortable="'count'">
                        {{product.count}}
                    </td>

                    <td class="text-center hbrAjustarTextoVertical" title="'UNIDADE'" filter="{ measurement: 'text'}" sortable="'measurement'">
                        {{product.measurement}}
                    </td>

                    <td class="text-center hbrAjustarTextoVertical" title="'DESCONTO'" filter="{ discount: 'text'}" sortable="'discount'">
                        R$ {{product.discount}}
                    </td>

                    <td class="text-center hbrAjustarTextoVertical" title="'TOTAL'" filter="{ total: 'text'}" sortable="'total'">
                        R$ {{product.total}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="newProductModal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Adicionar Produto</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" ng-table="providerProductsTable" class="table" show-filter="true">
                            <tr ng-repeat="product in $data">

                                <td class="text-center hbrAjustarTextoVertical" title="'REMOVER'">
                                    <button class="btn btn-primary" ng-class="{'btn-success': product.id == productSelected.id}" ng-click="selectProduct(product)">
                                        <span class="glyphicon glyphicon-check"></span>
                                    </button>
                                </td>

                                <td class="text-center hbrAjustarTextoVertical" title="'CÓDIGO'" filter="{ code: 'text'}" sortable="'code'">
                                    {{product.code}}
                                </td>

                                <td class="text-center hbrAjustarTextoVertical" title="'DESCRIÇÃO'" filter="{ description: 'text'}" sortable="'description'">
                                    {{product.description}}
                                </td>

                                <td class="text-center hbrAjustarTextoVertical" title="'VALOR'" filter="{ value: 'text'}" sortable="'value'">
                                    R$ {{product.value}}
                                </td>

                                <td class="text-center hbrAjustarTextoVertical" title="'UNIDADE'">
                                    {{product.measurement.type}}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="form-horizontal hbrFormInput">
                        <div class="container" style="padding: 8px 8px 8px;">
                            <div class="form-group">
                                <div class="col-md-5">
                                    <div class="input-group">
                                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!productSelected.code"><b>Código</b></span></span>
                                        <input type="text" class="form-control"  ng-disabled="true" hbr-uppercase ng-model="productSelected.code" placeholder="Código" >
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="input-group">
                                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!productSelected.description"><b>Descrição</b></span></span>
                                        <input type="text" class="form-control" ng-disabled="true" hbr-uppercase ng-model="productSelected.description" placeholder="Descrição" >
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="input-group">
                                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!productSelected.value"><b>Valor</b></span></span>
                                        <input type="text" class="form-control" ng-disabled="true" ng-model="productSelected.value" placeholder="Valor" >
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="input-group">
                                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!productSelected.measurement"><b>Medição</b></span></span>
                                        <input type="text" class="form-control" ng-disabled="true" hbr-uppercase ng-model="productSelected.measurement" placeholder="Descrição" >
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="input-group">
                                        <span class="input-group-addon hbrInputsBlue"><span><b>Desconto R$</b></span></span>
                                        <input type="text" class="form-control" money-format ng-model="productSelected.discount" placeholder="Desconto R$ 0.00" >
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="input-group">
                                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!productSelected.count"><b>Quantidade</b></span></span>
                                        <input type="text" class="form-control" hbr-uppercase ng-model="productSelected.count" placeholder="Quantidade" >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-success btn-sm" ng-click="addProductToSales(productSelected)">Adicionar</button>
                </div>
            </div>

        </div>
    </div>

</div>



<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="findCustomerModal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Selecione o Cliente</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" ng-table="customerFindTable" class="table" show-filter="true">
                            <tr ng-repeat="customerTable in $data">

                                <td class="text-center hbrAjustarTextoVertical" title="'SELECIONAR'">
                                    <button class="btn btn-primary" data-dismiss="modal" ng-click="selectCustomer(customerTable)">
                                        <span class="glyphicon glyphicon-check"></span>
                                    </button>
                                </td>

                                <td class="text-center hbrAjustarTextoVertical" title="'DOCUMENTO'" filter="{ documentNumber: 'text'}" sortable="'documentNumber'">
                                    {{customerTable.documentNumber}}
                                </td>

                                <td class="text-center hbrAjustarTextoVertical" title="'RASÃO SOCIAL'" filter="{ legalName: 'text'}" sortable="'legalName'">
                                    {{customerTable.legalName}}
                                </td>

                                <td class="text-center hbrAjustarTextoVertical" title="'NOME FANTASIA'" filter="{ fantasyName: 'text'}" sortable="'fantasyName'">
                                    {{customerTable.fantasyName}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Fechar</button>
                </div>
            </div>

        </div>
    </div>

</div>


<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="findProviderModal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Selecione o Fornecedor</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" ng-table="providerFindTable" class="table" show-filter="true">
                            <tr ng-repeat="providerTable in $data">

                                <td class="text-center hbrAjustarTextoVertical" title="'SELECIONAR'">
                                    <button class="btn btn-primary" data-dismiss="modal" ng-click="selectProvider(providerTable)">
                                        <span class="glyphicon glyphicon-check"></span>
                                    </button>
                                </td>

                                <td class="text-center hbrAjustarTextoVertical" title="'DOCUMENTO'" filter="{ documentNumber: 'text'}" sortable="'documentNumber'">
                                    {{providerTable.documentNumber}}
                                </td>

                                <td class="text-center hbrAjustarTextoVertical" title="'RASÃO SOCIAL'" filter="{ legalName: 'text'}" sortable="'legalName'">
                                    {{providerTable.legalName}}
                                </td>

                                <td class="text-center hbrAjustarTextoVertical" title="'NOME FANTASIA'" filter="{ fantasyName: 'text'}" sortable="'fantasyName'">
                                    {{providerTable.fantasyName}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Fechar</button>
                </div>
            </div>

        </div>
    </div>

</div>