body{
    background-color: #ffffff;
}

.buttonMenu {
  padding: 2px 2px 2px;
  float:right;
}

.positionButtonMenu {
  overflow: auto;
}

.ajustarTextoVertical {
  vertical-align: middle !important;
}