body{
  background-color: #D3D3D3;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 1px 5px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #555;
  cursor: default;
  background-color: #4682B4;
  border: 1px solid rgb(0,0,139);
  border-bottom-color: transparent;
}

.hbrNavBackgroup{
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a7c7dc+0,85b2d3+100;Blue+Grey+3D */
 background: #a7c7dc; /* Old browsers */
 background: -moz-linear-gradient(top, #a7c7dc 0%, #85b2d3 100%); /* FF3.6-15 */
 background: -webkit-linear-gradient(top, #a7c7dc 0%,#85b2d3 100%); /* Chrome10-25,Safari5.1-6 */
 background: linear-gradient(to bottom, #a7c7dc 0%,#85b2d3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7c7dc', endColorstr='#85b2d3',GradientType=0 ); /* IE6-9 */


  margin-bottom:0px;
}

.hbrTextStyleMenuNav {
  color:black;
}


.hbrButtonMenu {
  padding-left: 2px;
  float:right;
}

.hbrSizeAlert{
  padding-top:4px;
  margin-top:4px;
  margin-bottom: 4px;
  padding-bottom: 4px;
}

.hbrPositionButtonMenu {
  overflow: auto;
}

.hbrAjustarTextoVertical {
  vertical-align: middle !important;
  padding: 1px 4px 1px 4px !important;
}

.hbrInputsBlue {
  color: #4682B4;
  background-color: #F0F8FF;
  border-color: #4682B4;
  border-radius: 6px;
}

.hbrBorderRadiusRight {
  border-bottom-right-radius: 6px !important;
  border-top-right-radius: 6px  !important;
}

.hbrFormInput {
  border: 2px solid;
  padding: 8px 8px 8px;
  border-color: #F0F8FF;
  border-radius: 20px;
}

.hbrBorder {
  border: 2px solid;
  border-color: #4682B4;
  border-radius: 6px;
}

.hbrBlueDegrade {
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a7c7dc+0,85b2d3+100;Blue+Grey+3D */
   background: #a7c7dc; /* Old browsers */
   background: -moz-linear-gradient(top, #a7c7dc 0%, #85b2d3 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(top, #a7c7dc 0%,#85b2d3 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to bottom, #a7c7dc 0%,#85b2d3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7c7dc', endColorstr='#85b2d3',GradientType=0 ); /* IE6-9 */

  border-radius: 20px;
}

.selectMax{
   max-height: 30px !important;
   overflow-y: auto !important;
   overflow-x: hidden !important;
}